# Project

Question ) Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You 
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 
jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the 
location” field.
3. Then click the searchbutton.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [3]:
import selenium

In [4]:
import pandas as pd

In [5]:
from selenium import webdriver

In [6]:
import warnings

In [7]:
warnings.filterwarnings('ignore')

In [8]:
from selenium.webdriver.common.by import By

In [9]:
import time

In [11]:
driver = webdriver.Chrome(r'E:\Flip Robo\Web Driver package\chromedriver_win32.zip\chromedriver.exe')
driver

In [15]:
driver.get('https://www.naukri.com/')

In [16]:
designation = driver.find_element(By.CLASS_NAME,'suggestor-input')
designation.send_keys('Data Analyst')

In [17]:
location = driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/div[1]/div/input')
location.send_keys('Bangalore')

In [18]:
search = driver.find_element(By.CLASS_NAME,'qsbSubmit')
search.click()

In [19]:
job_title = [] 
job_location = []
company_name = []
experience_required = []

In [23]:
title_tag = driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tag[0:10]:
    title = i.text
    job_title.append(title)

In [24]:
job_title

['Data Analyst',
 'Data Analyst',
 'STAFF DATA ANALYST',
 'Data Analyst',
 'Urgent Hiring || Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst Job Opportunity - Tavant Offshore']

In [25]:
location_tag = driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tag[0:10]:
    location = i.text
    job_location.append(location)

In [26]:
job_location

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Hyderabad/Secunderabad',
 'Bangalore/Bengaluru',
 'Temp. WFH - Bangalore/Bengaluru, Noida, Pune, Gurgaon/Gurugram, Mumbai (All Areas)',
 'Temp. WFH - Bangalore/Bengaluru, Noida, Pune, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [27]:
company_tag = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tag[0:10]:
    company = i.text
    company_name.append(company)

In [28]:
company_name

['Trigent Software',
 'Qualcomm Technologies, Inc',
 'Walmart',
 'Infogain',
 'Infogain',
 'Novel Office',
 'Target',
 'Spectrum Talent Management',
 'IBM',
 'Tavant Technologies']

In [29]:
experience_tag = driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience_tag[0:10]:
    experience = i.text
    experience_required.append(experience)

In [30]:
experience_required

['2-5 Yrs',
 '3-5 Yrs',
 '2-6 Yrs',
 '4-7 Yrs',
 '4-8 Yrs',
 '0-2 Yrs',
 '2-4 Yrs',
 '2-4 Yrs',
 '2-4 Yrs',
 '4-9 Yrs']

In [32]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [33]:
df = pd.DataFrame({"Title":job_title,"Location":job_location,"Company_Name":company_name,"Experience":experience_required})
df

,Title,Location,Company_Name,Experience
0,Data Analyst,Bangalore/Bengaluru,Trigent Software,2-5 Yrs
1,Data Analyst,"Bangalore/Bengaluru, Hyderabad/Secunderabad","Qualcomm Technologies, Inc",3-5 Yrs
2,STAFF DATA ANALYST,Bangalore/Bengaluru,Walmart,2-6 Yrs
3,Data Analyst,"Temp. WFH - Bangalore/Bengaluru, Noida, Pune, ...",Infogain,4-7 Yrs
4,Urgent Hiring || Data Analyst,"Temp. WFH - Bangalore/Bengaluru, Noida, Pune, ...",Infogain,4-8 Yrs
5,Data Analyst,Bangalore/Bengaluru,Novel Office,0-2 Yrs
6,Data Analyst,Bangalore/Bengaluru,Target,2-4 Yrs
7,Data Analyst,Bangalore/Bengaluru,Spectrum Talent Management,2-4 Yrs
8,Data Analyst,Bangalore/Bengaluru,IBM,2-4 Yrs
9,Data Analyst Job Opportunity - Tavant Offshore,Bangalore/Bengaluru,Tavant Technologies,4-9 Yrs

Question ) Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You 
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the 
location” field.
3. Then click the searchbutton.
4. Then scrape the data for the first 10 jobs results youget.
5. Finally create a dataframe of the scraped data.

In [34]:
driver = webdriver.Chrome(r'E:\Flip Robo\Web Driver package\chromedriver_win32.zip\chromedriver.exe')
driver

In [35]:
driver.get('https://www.naukri.com/')

In [37]:
designation = driver.find_element(By.CLASS_NAME,'suggestor-input')
designation.send_keys('Data Scientist')

In [38]:
location = driver.find_element(By.XPATH,'/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input')
location.send_keys('Bangalore')

In [39]:
search = driver.find_element(By.CLASS_NAME,'qsbSubmit')
search.click()

In [41]:
job_title = []
job_location = []
company_name = []

In [42]:
title_tag = driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tag[0:10]:
    title = i.text
    job_title.append(title)

In [43]:
job_title

['Data Science Specialist',
 'Analystics & Modeling Specialist',
 'Machine Learning (AI) Architect',
 'Manager - Innovations Hub - Machine Learning',
 'Senior data scientist',
 'Data Scientist_NLP',
 'Data Scientist',
 'Data Scientist',
 'Staff Data Scientist',
 'Lead ML Scientist']

In [44]:
location_tag = driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tag[0:10]:
    location = i.text
    job_location.append(location)

In [45]:
job_location

['Bangalore/Bengaluru, Kolkata, Mumbai, Hyderabad/Secunderabad, Pune, Chennai',
 'Bangalore/Bengaluru, Kolkata, Mumbai, Hyderabad/Secunderabad, Pune, Chennai',
 'Bangalore/Bengaluru, Kolkata, Mumbai, New Delhi, Hyderabad/Secunderabad, Pune, Chennai',
 'Bangalore/Bengaluru, Mumbai, Hyderabad/Secunderabad',
 'Bangalore/Bengaluru, Mumbai, Pune, Chennai, Gurgaon/Gurugram',
 'Bangalore/Bengaluru, Mumbai, Pune, Chennai, Gurgaon/Gurugram',
 'Bangalore/Bengaluru, Mumbai, Pune, Chennai, Gurgaon/Gurugram',
 'Hybrid - Bangalore/Bengaluru, Pune',
 'Bangalore/Bengaluru, Mumbai',
 'Bangalore/Bengaluru, Mumbai']

In [46]:
company_tag = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tag[0:10]:
    company = i.text
    company_name.append(company)

In [47]:
company_name

['Accenture',
 'Accenture',
 'Persistent',
 'PwC',
 'Fractal Analytics',
 'Fractal Analytics',
 'Fractal Analytics',
 'Citicorp Finance',
 'Baker Hughes',
 'Fractal Analytics']

In [48]:
print(len(job_title),len(job_location),len(company_name))

10 10 10

In [49]:
df = pd.DataFrame({"Title":job_title,"Location":job_location,"Company_Name":company_name})
df

,Title,Location,Company_Name
0,Data Science Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
1,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
2,Machine Learning (AI) Architect,"Bangalore/Bengaluru, Kolkata, Mumbai, New Delh...",Persistent
3,Manager - Innovations Hub - Machine Learning,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",PwC
4,Senior data scientist,"Bangalore/Bengaluru, Mumbai, Pune, Chennai, Gu...",Fractal Analytics
5,Data Scientist_NLP,"Bangalore/Bengaluru, Mumbai, Pune, Chennai, Gu...",Fractal Analytics
6,Data Scientist,"Bangalore/Bengaluru, Mumbai, Pune, Chennai, Gu...",Fractal Analytics
7,Data Scientist,"Hybrid - Bangalore/Bengaluru, Pune",Citicorp Finance
8,Staff Data Scientist,"Bangalore/Bengaluru, Mumbai",Baker Hughes
9,Lead ML Scientist,"Bangalore/Bengaluru, Mumbai",Fractal Analytics

Question ) In this question you have to scrape data using the filters available on the webpage as shown below:
You have to use the location and salary filter.

You have to scrape data for “Data Scientist” designation for first 10 job results. 
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs

The task will be done as shown in the below steps:
1. first get thewebpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the searchbutton.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results youget.
6. Finally create a dataframe of the scraped data.

In [10]:
driver = webdriver.Chrome(r'E:\Flip Robo\Web Driver package\chromedriver_win32.zip\chromedriver.exe')
driver

In [11]:
driver.get('https://www.naukri.com/')

In [12]:
designation = driver.find_element(By.CLASS_NAME,'suggestor-input')
designation.send_keys('Data Scientist')

In [13]:
search = driver.find_element(By.CLASS_NAME,'qsbSubmit')
search.click()

In [19]:
location = driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[2]/div[2]/div[2]/label/p/span[1]')
location.click()

In [21]:
salary = driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[6]/div[2]/div[2]/label/p/span[1]')
salary.click()

In [23]:
job_title = []
job_tag = driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in job_tag[0:10]:
    job_title.append(i.text)
job_title

['Data Scientist',
 'Junior Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Analyst-Data Science',
 'Junior Data Scientist',
 'Analyst-Data Science',
 'Assistant Manager/Senior Manager - Data Scientist',
 'Machine Learning Engineer']

In [25]:
job_location = []
location_tag = driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tag[0:10]:
    job_location.append(i.text)
job_location

['Temp. WFH - Kochi/Cochin, Kolkata, Hyderabad/Secunderabad, Pune, Ahmedabad, Gurgaon/Gurugram, Chennai, Coimbatore, Bangalore/Bengaluru',
 'Kolkata, Mumbai, New Delhi, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru',
 'Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Kolkata, Mumbai, New Delhi, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru',
 'Kolkata, Mumbai, New Delhi, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru',
 'Gurgaon/Gurugram',
 'Gurgaon/Gurugram, United States (USA), Bulgaria',
 'Gurgaon/Gurugram',
 'Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Noida']

In [26]:
company_name = []
company_tag = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tag[0:10]:
    company_name.append(i.text)
company_name

['Cognizant',
 'Analytos',
 'Blackbuck',
 'Analytos',
 'Tabsquare',
 'AMERICAN EXPRESS',
 'Adidas',
 'AMERICAN EXPRESS',
 'Huquo Consulting Pvt. Ltd',
 'Profit By Outsourcing']

In [28]:
experience = []
experience_tag = driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience_tag[0:10]:
    experience.append(i.text)
experience

['6-10 Yrs',
 '0-2 Yrs',
 '3-7 Yrs',
 '2-4 Yrs',
 '1-3 Yrs',
 '0-3 Yrs',
 '1-6 Yrs',
 '0-3 Yrs',
 '2-7 Yrs',
 '2-7 Yrs']

In [29]:
df = pd.DataFrame({"Job_Title":job_title,"Job_Location":job_location,"Company_Name":company_name,"Experience_Required":experience})
df

,Job_Title,Job_Location,Company_Name,Experience_Required
0,Data Scientist,"Temp. WFH - Kochi/Cochin, Kolkata, Hyderabad/S...",Cognizant,6-10 Yrs
1,Junior Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Analytos,0-2 Yrs
2,Data Scientist,"Gurgaon/Gurugram, Bangalore/Bengaluru",Blackbuck,3-7 Yrs
3,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Analytos,2-4 Yrs
4,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Tabsquare,1-3 Yrs
5,Analyst-Data Science,Gurgaon/Gurugram,AMERICAN EXPRESS,0-3 Yrs
6,Junior Data Scientist,"Gurgaon/Gurugram, United States (USA), Bulgaria",Adidas,1-6 Yrs
7,Analyst-Data Science,Gurgaon/Gurugram,AMERICAN EXPRESS,0-3 Yrs
8,Assistant Manager/Senior Manager - Data Scientist,"Gurgaon/Gurugram, Bangalore/Bengaluru",Huquo Consulting Pvt. Ltd,2-7 Yrs
9,Machine Learning Engineer,Noida,Profit By Outsourcing,2-7 Yrs