# Project

Question ) Scrape the details of most viewed videos on YouTube from Wikipedia.
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [147]:
import selenium
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import pandas as pd
import time

In [148]:
driver = webdriver.Chrome(r'E:\Flip Robo\Web Driver package\chromedriver_win32.zip/chromedriver.exe')
driver

In [3]:
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

In [4]:
you = driver.find_element(By.XPATH,'/html/body/div[2]/div/div[3]/main/div[3]/div[3]/div[1]/div[6]/ul/li[5]/a')
you.click()

In [42]:
rank = []
rank_tag = driver.find_elements(By.XPATH,'//table[@class="wikitable sortable plainrowheaders jquery-tablesorter"]//td')
for i in rank_tag:
    rank.append(i.text)
ranks = rank[0:56:7]
ranks

['1', '2', '3', '4', '5', '6', '7', '8']

In [43]:
ran = rank[49:50]
ran

['8']

In [44]:
rankss = rank[62:63]
rankss

['10']

In [45]:
Rank = ranks + ran + rankss
Rank

['1', '2', '3', '4', '5', '6', '7', '8', '8', '10']

In [54]:
name = []
name_tag = driver.find_elements(By.XPATH,'//table[@class="wikitable sortable plainrowheaders jquery-tablesorter"]//td')
for i in name_tag:
    name.append(i.text)
Name = name[1:70:7]
Name

["2023 CCTV New Year's Gala",
 'Double World',
 'Rings prank',
 'Fashion show in Shanghai',
 'Eva.Stories',
 'Idol Producer Episode 1',
 'The Rap of China Episode 1',
 'The Lost Tomb',
 'Chai Jing',
 'The Guardian']

In [58]:
artist = []
artist_tag = driver.find_elements(By.XPATH,'//table[@class="wikitable sortable plainrowheaders jquery-tablesorter"]//td')
for i in artist_tag:
    artist.append(i.text)
Artist = artist[2:70:7]
Artist

['CCTV',
 'iQIYI',
 'Paramount Pictures',
 'Louis Vuitton',
 'Mati and Maya Kochavi',
 'iQIYI',
 'iQIYI',
 'iQIYI',
 'Multiple[f]',
 'YouTube']

In [61]:
upload[5:56:7]

['January 21, 2023',
 'July 24, 2020',
 'January 23, 2017',
 'November 17, 2021',
 'May 1, 2019',
 'January 19, 2018',
 'June 24, 2017',
 'June 12, 2015']

In [67]:
upload = []
date = driver.find_elements(By.XPATH,'//table[@class="wikitable sortable plainrowheaders jquery-tablesorter"]//td')
for i in date:
    upload.append(i.text)
up = upload[5:56:7]
up

['January 21, 2023',
 'July 24, 2020',
 'January 23, 2017',
 'November 17, 2021',
 'May 1, 2019',
 'January 19, 2018',
 'June 24, 2017',
 'June 12, 2015']

In [72]:
x = upload[60:61]
x

['February 28, 2015']

In [73]:
y = upload[67:68]
y

['March 28, 2022']

In [74]:
Upload = up + x + y
Upload

['January 21, 2023',
 'July 24, 2020',
 'January 23, 2017',
 'November 17, 2021',
 'May 1, 2019',
 'January 19, 2018',
 'June 24, 2017',
 'June 12, 2015',
 'February 28, 2015',
 'March 28, 2022']

In [80]:
view = []
view_tag = driver.find_elements(By.XPATH,'//table[@class="wikitable sortable plainrowheaders jquery-tablesorter"]//td')
for i in view_tag:
    view.append(i.text)
vi = view[4:56:7]
vi

['655.0',
 '400.0',
 '200.0',
 '158.0+[c]',
 '120.0',
 '100+[d]',
 '100+[e]',
 '100.0']

In [78]:
a = view[59:60]
a

['100.0']

In [79]:
b = view[66:67]
b

['59+']

In [81]:
View = vi + a + b
View

['655.0',
 '400.0',
 '200.0',
 '158.0+[c]',
 '120.0',
 '100+[d]',
 '100+[e]',
 '100.0',
 '100.0',
 '59+']

In [83]:
df = pd.DataFrame({"Rank":Rank,"Name":Name,"Artist":Artist,"Upload_Dates":Upload,"Views":View})
df

,Rank,Name,Artist,Upload_Dates,Views
0,1,2023 CCTV New Year's Gala,CCTV,"January 21, 2023",655.0
1,2,Double World,iQIYI,"July 24, 2020",400.0
2,3,Rings prank,Paramount Pictures,"January 23, 2017",200.0
3,4,Fashion show in Shanghai,Louis Vuitton,"November 17, 2021",158.0+[c]
4,5,Eva.Stories,Mati and Maya Kochavi,"May 1, 2019",120.0
5,6,Idol Producer Episode 1,iQIYI,"January 19, 2018",100+[d]
6,7,The Rap of China Episode 1,iQIYI,"June 24, 2017",100+[e]
7,8,The Lost Tomb,iQIYI,"June 12, 2015",100.0
8,8,Chai Jing,Multiple[f],"February 28, 2015",100.0
9,10,The Guardian,YouTube,"March 28, 2022",59+

Question ) Scrape the details team Indiaâ€™s international fixtures from bcci.tv. 
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1stODI)
B) Series
C) Place
D) Date
E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code

In [84]:
driver.get('https://www.bcci.tv/.')

In [85]:
inter = driver.find_element(By.XPATH,'/html/body/nav/div[1]/div[2]/ul[1]/li[2]/a')
inter.click()

In [87]:
series = driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div/ul/li[3]/a')
series.click()

In [88]:
india = driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div/div/div/div[2]/div/div[3]/div/div/div[1]/div/div[2]/a')
india.click()

In [120]:
mat = driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div/div/div[1]/div[3]/div[2]/div[2]/div[7]/div/div[2]/div[1]/div[1]/div[2]/div[1]')
match = mat.text
match

'India'

In [121]:
matchs = driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div/div/div[1]/div[3]/div[2]/div[2]/div[7]/div/div[2]/div[1]/div[2]')
matches = matchs.text
matches

'vs'

In [122]:
title = driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div/div/div[1]/div[3]/div[2]/div[2]/div[7]/div/div[2]/div[1]/div[3]/div[2]/div[1]')
titles = title.text
titles

'Australia'

In [123]:
match_titles = Match + " " + Matchs + " " + Title
match_titles

'India vs Australia'

In [124]:
series = driver.find_element(By.XPATH,'//div[@class="match-tournament-name ng-binding"]')
seriess = series.text
seriess

'AUSTRALIA TOUR OF INDIA 2023'

In [125]:
place = driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div/div/div[1]/div[3]/div[2]/div[2]/div[7]/div/div[3]/div/span[2]')
placee = place.text
placee

'Wankhede Stadium,'

In [126]:
date = driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div/div/div[1]/div[3]/div[2]/div[2]/div[7]/div/div[1]/div[2]/div[1]')
datee = date.text
datee

'17 MAR 2023'

In [127]:
time = driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div/div/div[1]/div[3]/div[2]/div[2]/div[7]/div/div[1]/div[2]/div[2]')
timee = time.text
timee

'1:30 PM IST'

In [130]:
df1 = pd.Series({"Match_Title":match_titles,"Series":seriess,"Place":placee,"Date":datee,"Time":timee})
df1

Match_Title              India vs Australia
Series         AUSTRALIA TOUR OF INDIA 2023
Place                     Wankhede Stadium,
Date                            17 MAR 2023
Time                            1:30 PM IST
dtype: object

Question ) Scrape the details of State-wise GDP ofIndia fromstatisticstime.com. 
Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP(18-19)- at current prices
D) GSDP(19-20)- at current prices
E) Share(18-19)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [2]:
driver = webdriver.Chrome(r'E:\Flip Robo\Web Driver package\chromedriver_win32.zip/chromedriver.exe')
driver

In [6]:
driver.get('https://statisticstimes.com/')

In [7]:
economy = driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/button')
economy.click()

In [8]:
india = driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')
india.click()

In [9]:
full = driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
full.click()

In [13]:
rank = []
rank_tag = driver.find_elements(By.XPATH,'//td[@class="data1"]')
for i in rank_tag[0:33]:
    rank.append(i.text)
rank

['1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '24',
 '25',
 '26',
 '27',
 '28',
 '29',
 '30',
 '31',
 '32',
 '33']

In [15]:
state = []
state_tag = driver.find_elements(By.XPATH,'//td[@class="name"]')
for i in state_tag[0:33]:
    state.append(i.text)
state

['Maharashtra',
 'Tamil Nadu',
 'Uttar Pradesh',
 'Gujarat',
 'Karnataka',
 'West Bengal',
 'Rajasthan',
 'Andhra Pradesh',
 'Telangana',
 'Madhya Pradesh',
 'Kerala',
 'Delhi',
 'Haryana',
 'Bihar',
 'Punjab',
 'Odisha',
 'Assam',
 'Chhattisgarh',
 'Jharkhand',
 'Uttarakhand',
 'Jammu & Kashmir',
 'Himachal Pradesh',
 'Goa',
 'Tripura',
 'Chandigarh',
 'Puducherry',
 'Meghalaya',
 'Sikkim',
 'Manipur',
 'Nagaland',
 'Arunachal Pradesh',
 'Mizoram',
 'Andaman & Nicobar Islands']

In [17]:
gsdp = []
gsdp_tag = driver.find_elements(By.XPATH,'//td[@class="data sorting_1"]')
for i in gsdp_tag[0:33]:
    gsdp.append(i.text)
gsdp

['2,632,792',
 '1,630,208',
 '1,584,764',
 '1,502,899',
 '1,493,127',
 '1,089,898',
 '942,586',
 '862,957',
 '861,031',
 '809,592',
 '781,653',
 '774,870',
 '734,163',
 '530,363',
 '526,376',
 '487,805',
 '315,881',
 '304,063',
 '297,204',
 '245,895',
 '155,956',
 '153,845',
 '73,170',
 '49,845',
 '42,114',
 '34,433',
 '33,481',
 '28,723',
 '27,870',
 '27,283',
 '24,603',
 '22,287',
 '-']

In [30]:
gsdps_19_20 = []
gsdps_tag = driver.find_elements(By.XPATH,'//td[@class="data"]')
for i in gsdps_tag[0:165:5]:
    gsdps_19_20.append(i.text)
gsdps_19_20

['-',
 '1,845,853',
 '1,687,818',
 '-',
 '1,631,977',
 '1,253,832',
 '1,020,989',
 '972,782',
 '969,604',
 '906,672',
 '-',
 '856,112',
 '831,610',
 '611,804',
 '574,760',
 '521,275',
 '-',
 '329,180',
 '328,598',
 '-',
 '-',
 '165,472',
 '80,449',
 '55,984',
 '-',
 '38,253',
 '36,572',
 '32,496',
 '31,790',
 '-',
 '-',
 '26,503',
 '-']

In [35]:
share = []
share_tag = driver.find_elements(By.XPATH,'//td[@class="data"]')
for i in share_tag[1:165:5]:
    share.append(i.text)
share

['13.94%',
 '8.63%',
 '8.39%',
 '7.96%',
 '7.91%',
 '5.77%',
 '4.99%',
 '4.57%',
 '4.56%',
 '4.29%',
 '4.14%',
 '4.10%',
 '3.89%',
 '2.81%',
 '2.79%',
 '2.58%',
 '1.67%',
 '1.61%',
 '1.57%',
 '1.30%',
 '0.83%',
 '0.81%',
 '0.39%',
 '0.26%',
 '0.22%',
 '0.18%',
 '0.18%',
 '0.15%',
 '0.15%',
 '0.14%',
 '0.13%',
 '0.12%',
 '-']

In [43]:
gdp = []
gdps = driver.find_elements(By.XPATH,'//td[@class="data"]')
for i in gdps[2:165:5]:
    gdp.append(i.text)
gdp

['399.921',
 '247.629',
 '240.726',
 '228.290',
 '226.806',
 '165.556',
 '143.179',
 '131.083',
 '130.791',
 '122.977',
 '118.733',
 '117.703',
 '111.519',
 '80.562',
 '79.957',
 '74.098',
 '47.982',
 '46.187',
 '45.145',
 '37.351',
 '23.690',
 '23.369',
 '11.115',
 '7.571',
 '6.397',
 '5.230',
 '5.086',
 '4.363',
 '4.233',
 '4.144',
 '3.737',
 '3.385',
 '-']

In [ ]:
) Rank
B) State
C) GSDP(18-19)- at current prices
D) GSDP(19-20)- at current prices
E) Share(18-19)
F) GDP($ billion)

In [44]:
df = pd.DataFrame({"Rank":rank,"State":state,"GSDP(18-19)":gsdp,"GSDP(19-20)":gsdps_19_20,"Share(18-19)":share,"GDP":gdp})
df

,Rank,State,GSDP(18-19),GSDP(19-20),Share(18-19),GDP
0,1,Maharashtra,"2,632,792",-,13.94%,399.921
1,2,Tamil Nadu,"1,630,208","1,845,853",8.63%,247.629
2,3,Uttar Pradesh,"1,584,764","1,687,818",8.39%,240.726
3,4,Gujarat,"1,502,899",-,7.96%,228.290
4,5,Karnataka,"1,493,127","1,631,977",7.91%,226.806
5,6,West Bengal,"1,089,898","1,253,832",5.77%,165.556
6,7,Rajasthan,"942,586","1,020,989",4.99%,143.179
7,8,Andhra Pradesh,"862,957","972,782",4.57%,131.083
8,9,Telangana,"861,031","969,604",4.56%,130.791
9,10,Madhya Pradesh,"809,592","906,672",4.29%,122.977
10,11,Kerala,"781,653",-,4.14%,118.733
11,12,Delhi,"774,870","856,112",4.10%,117.703
12,13,Haryana,"734,163","831,610",3.89%,111.519
13,14,Bihar,"530,363","611,804",2.81%,80.562
14,15,Punjab,"526,376","574,760",2.79%,79.957
15,16,Odisha,"487,805","521,275",2.58%,74.098
16,17,Assam,"315,881",-,1.67%,47.982
17,18,Chhattisgarh,"304,063","329,180",1.61%,46.187
18,19,Jharkhand,"297,204","328,598",1.57%,45.145
19,20,Uttarakhand,"245,895",-,1.30%,37.351
20,21,Jammu & Kashmir,"155,956",-,0.83%,23.690
21,22,Himachal Pradesh,"153,845","165,472",0.81%,23.369
22,23,Goa,"73,170","80,449",0.39%,11.115
23,24,Tripura,"49,845","55,984",0.26%,7.571
24,25,Chandigarh,"42,114",-,0.22%,6.397
25,26,Puducherry,"34,433","38,253",0.18%,5.230
26,27,Meghalaya,"33,481","36,572",0.18%,5.086
27,28,Sikkim,"28,723","32,496",0.15%,4.363
28,29,Manipur,"27,870","31,790",0.15%,4.233
29,30,Nagaland,"27,283",-,0.14%,4.144
30,31,Arunachal Pradesh,"24,603",-,0.13%,3.737
31,32,Mizoram,"22,287","26,503",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

Question ) Scrape the details of trending repositories on Github.com. 
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used
Note: - From the home page you have to click on the trending option from Explore menu through code.

In [20]:
driver.get('https://github.com/')

In [21]:
sign = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/div/div[2]/a')
sign.click()

In [22]:
username = input("Enter Your Username = ")
user = driver.find_element(By.XPATH,'/html/body/div[1]/div[3]/main/div/div[4]/form/input[2]')
user.send_keys(username)

Enter Your Username = shivayogesh1998@gmail.com

In [25]:
password = input("Enter Your Password = ")
passed = driver.find_element(By.XPATH,'/html/body/div[1]/div[3]/main/div/div[4]/form/div/input[1]')
passed.send_keys(password)

Enter Your Password = [Sharma@123]

In [26]:
log = driver.find_element(By.XPATH,'/html/body/div[1]/div[3]/main/div/div[4]/form/div/input[12]')
log.click()

In [27]:
explore = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div[3]/nav/a[5]')
explore.click()

In [28]:
trending = driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/main/div[1]/nav/div/a[3]')
trending.click()

In [31]:
title = []
title_tag = driver.find_elements(By.XPATH,'//h2[@class="h3 lh-condensed"]')
for i in title_tag:
    title.append(i.text)
title

['suno-ai / bark',
 'OpenLMLab / MOSS',
 'xtekky / gpt4free',
 'sanchit-gandhi / whisper-jax',
 'lvwzhen / law-cn-ai',
 'xtekky / chatgpt-clone',
 'macrozheng / mall',
 'jackfrued / Python-100-Days',
 'kaqijiang / Auto-GPT-ZH',
 'pengzhile / pandora',
 'geekyutao / Inpaint-Anything',
 'saeedezzati / superpower-chatgpt',
 'sindresorhus / awesome',
 'BabylonJS / Babylon.js',
 'imClumsyPanda / langchain-ChatGLM',
 'dataease / dataease',
 'TheRamU / Fay',
 'l15y / wenda',
 'Yidadaa / ChatGPT-Next-Web',
 'zhayujie / chatgpt-on-wechat',
 'tamagui / tamagui',
 'Josh-XT / Agent-LLM',
 'datawhalechina / hugging-llm',
 'BloopAI / bloop',
 'Dogtiti / AutoGPT-Next-Web']

In [47]:
description = []
description_tag = driver.find_elements(By.XPATH,'//P[@class="col-9 color-fg-muted my-1 pr-4"]')
for i in description_tag:
    description.append(i.text)
x = description[0:3]
x

['ðŸ”Š Text-Prompted Generative Audio Model',
 'An open-source tool-augmented conversational language model from Fudan University',
 "decentralising the Ai Industry, free gpt-4/3.5 scripts through several reverse engineered api's ( poe.com, phind.com, chat.openai.com, phind.com, writesonic.com, sqlchat.ai, t3nsor.com, you.com etc...)"]

In [48]:
y = '-'
print([y])

['-']

In [49]:
z = description[3:]
z

['âš–ï¸ AI æ³•å¾‹åŠ©æ‰‹',
 "ChatGPT interface with better UI + running on free gpt api's",
 'mallé¡¹ç›®æ˜¯ä¸€å¥—ç”µå•†ç³»ç»Ÿï¼ŒåŒ…æ‹¬å‰å°å•†åŸŽç³»ç»ŸåŠåŽå°ç®¡ç†ç³»ç»Ÿï¼ŒåŸºäºŽSpringBoot+MyBatiså®žçŽ°ï¼Œé‡‡ç”¨Dockerå®¹å™¨åŒ–éƒ¨ç½²ã€‚ å‰å°å•†åŸŽç³»ç»ŸåŒ…å«é¦–é¡µé—¨æˆ·ã€å•†å“æŽ¨èã€å•†å“æœç´¢ã€å•†å“å±•ç¤ºã€è´­ç‰©è½¦ã€è®¢å•æµç¨‹ã€ä¼šå‘˜ä¸­å¿ƒã€å®¢æˆ·æœåŠ¡ã€å¸®åŠ©ä¸­å¿ƒç­‰æ¨¡å—ã€‚ åŽå°ç®¡ç†ç³»ç»ŸåŒ…å«å•†å“ç®¡ç†ã€è®¢å•ç®¡ç†ã€ä¼šå‘˜ç®¡ç†ã€ä¿ƒé”€ç®¡ç†ã€è¿è¥ç®¡ç†ã€å†…å®¹ç®¡ç†ã€ç»Ÿè®¡æŠ¥è¡¨ã€è´¢åŠ¡ç®¡ç†ã€æƒé™ç®¡ç†ã€è®¾ç½®ç­‰æ¨¡å—ã€‚',
 'Python - 100å¤©ä»Žæ–°æ‰‹åˆ°å¤§å¸ˆ',
 'Auto-GPTä¸­æ–‡ç‰ˆæœ¬åŠçˆ±å¥½è€…ç»„ç»‡ åŒæ­¥æ›´æ–°åŽŸé¡¹ç›® AIé¢†åŸŸåˆ›ä¸š è‡ªåª’ä½“ç»„ç»‡ ç”¨AIå·¥ä½œå­¦ä¹ åˆ›ä½œå˜çŽ°',
 'æ½˜å¤šæ‹‰ï¼Œä¸€ä¸ªä¸åªæ˜¯å‘½ä»¤è¡Œçš„ChatGPTã€‚',
 'Inpaint anything using Segment Anything and inpainting models.',
 'Superpower ChatGPT Chrome Extension',
 'ðŸ˜Ž Awesome lists about all kinds of interesting topics',
 'Babylon.js is a powerful, beautiful, simple, and open game and rendering engine packed into a friendly JavaScript framework.',
 'langchain-ChatGLM, local knowledge based ChatGLM with langchain ï½œ åŸºäºŽæœ¬åœ°çŸ¥è¯†çš„ ChatGLM é—®ç­”',
 'äººäººå¯ç”¨çš„å¼€æºæ•°æ®å¯è§†åŒ–åˆ†æžå·¥å…·ã€‚',
 'Fayæ˜¯ä¸€ä¸ªå®Œæ•´çš„å¼€æºé¡¹ç›®ï¼ŒåŒ…å«FayæŽ§åˆ¶å™¨åŠæ•°å­—äººæ¨¡åž‹ï¼Œå¯çµæ´»ç»„åˆå‡ºä¸åŒçš„åº”ç”¨åœºæ™¯ï¼šè™šæ‹Ÿä¸»æ’­ã€çŽ°åœºæŽ¨é”€è´§ã€å•†å“å¯¼è´­ã€è¯­éŸ³åŠ©ç†ã€è¿œç¨‹è¯­éŸ³åŠ©ç†ã€æ•°å­—äººäº’åŠ¨ã€æ•°å­—äººé¢è¯•å®˜åŠå¿ƒç†æµ‹è¯„ã€è´¾ç»´æ–¯ã€Herã€‚ å¼€æºé¡¹ç›®ï¼Œéžäº§å“è¯•ç”¨ï¼ï¼ï¼',
 'é—»è¾¾ï¼šä¸€ä¸ªLLMè°ƒç”¨å¹³å°ã€‚ä¸ºå°æ¨¡åž‹å¤–æŒ‚çŸ¥è¯†åº“æŸ¥æ‰¾å’Œè®¾è®¡è‡ªåŠ¨æ‰§è¡ŒåŠ¨ä½œï¼Œå®žçŽ°ä¸äºšäºŽäºŽå¤§æ¨¡åž‹çš„ç”Ÿæˆèƒ½åŠ›',
 'One-Click to deploy well-designed ChatGPT web UI on Vercel. ä¸€é”®æ‹¥æœ‰ä½ è‡ªå·±çš„ ChatGPT ç½‘é¡µæœåŠ¡ã€‚',
 'Wechat robot based on ChatGPT, which using OpenAI api and itchat library. ä½¿ç”¨ChatGPTæ­å»ºå¾®ä¿¡èŠå¤©æœºå™¨äººï¼ŒåŸºäºŽGPT3.5/4.0 APIå’Œitchatå®žçŽ°ï¼Œèƒ½å¤„ç†æ–‡æœ¬ã€è¯­éŸ³å’Œå›¾ç‰‡ï¼Œè®¿é—®æ“ä½œç³»ç»Ÿå’Œäº’è”ç½‘ã€‚',
 'a better universal ui system',
 'An Artificial Intelligence Automation Platform. AI Instruction management from various providers, has an adaptive memory, and a versatile plugin system with many commands including web browsing. Supports many AI providers and models and growing support every day.',
 'HuggingLLM, Hugging Future.',
 'bloop is a fast code search engine written in Rust.',
 'ðŸ¤– Assemble, configure, and deploy autonomous AI Agents in your browser.ä¸€é”®å…è´¹éƒ¨ç½²ä½ çš„ç§äººAutoGPT ç½‘é¡µåº”ç”¨']

In [54]:
descriptions = x + [y] + z
descriptions

['ðŸ”Š Text-Prompted Generative Audio Model',
 'An open-source tool-augmented conversational language model from Fudan University',
 "decentralising the Ai Industry, free gpt-4/3.5 scripts through several reverse engineered api's ( poe.com, phind.com, chat.openai.com, phind.com, writesonic.com, sqlchat.ai, t3nsor.com, you.com etc...)",
 '-',
 'âš–ï¸ AI æ³•å¾‹åŠ©æ‰‹',
 "ChatGPT interface with better UI + running on free gpt api's",
 'mallé¡¹ç›®æ˜¯ä¸€å¥—ç”µå•†ç³»ç»Ÿï¼ŒåŒ…æ‹¬å‰å°å•†åŸŽç³»ç»ŸåŠåŽå°ç®¡ç†ç³»ç»Ÿï¼ŒåŸºäºŽSpringBoot+MyBatiså®žçŽ°ï¼Œé‡‡ç”¨Dockerå®¹å™¨åŒ–éƒ¨ç½²ã€‚ å‰å°å•†åŸŽç³»ç»ŸåŒ…å«é¦–é¡µé—¨æˆ·ã€å•†å“æŽ¨èã€å•†å“æœç´¢ã€å•†å“å±•ç¤ºã€è´­ç‰©è½¦ã€è®¢å•æµç¨‹ã€ä¼šå‘˜ä¸­å¿ƒã€å®¢æˆ·æœåŠ¡ã€å¸®åŠ©ä¸­å¿ƒç­‰æ¨¡å—ã€‚ åŽå°ç®¡ç†ç³»ç»ŸåŒ…å«å•†å“ç®¡ç†ã€è®¢å•ç®¡ç†ã€ä¼šå‘˜ç®¡ç†ã€ä¿ƒé”€ç®¡ç†ã€è¿è¥ç®¡ç†ã€å†…å®¹ç®¡ç†ã€ç»Ÿè®¡æŠ¥è¡¨ã€è´¢åŠ¡ç®¡ç†ã€æƒé™ç®¡ç†ã€è®¾ç½®ç­‰æ¨¡å—ã€‚',
 'Python - 100å¤©ä»Žæ–°æ‰‹åˆ°å¤§å¸ˆ',
 'Auto-GPTä¸­æ–‡ç‰ˆæœ¬åŠçˆ±å¥½è€…ç»„ç»‡ åŒæ­¥æ›´æ–°åŽŸé¡¹ç›® AIé¢†åŸŸåˆ›ä¸š è‡ªåª’ä½“ç»„ç»‡ ç”¨AIå·¥ä½œå­¦ä¹ åˆ›ä½œå˜çŽ°',
 'æ½˜å¤šæ‹‰ï¼Œä¸€ä¸ªä¸åªæ˜¯å‘½ä»¤è¡Œçš„ChatGPTã€‚',
 'Inpaint anything using Segment Anything and inpainting models.',
 'Superpower ChatGPT Chrome Extension',
 'ðŸ˜Ž Awesome lists about all kinds of interesting topics',
 'Babylon.js is a powerful, beautiful, simple, and open game and rendering engine packed into a friendly JavaScript framework.',
 'langchain-ChatGLM, local knowledge based ChatGLM with langchain ï½œ åŸºäºŽæœ¬åœ°çŸ¥è¯†çš„ ChatGLM é—®ç­”',
 'äººäººå¯ç”¨çš„å¼€æºæ•°æ®å¯è§†åŒ–åˆ†æžå·¥å…·ã€‚',
 'Fayæ˜¯ä¸€ä¸ªå®Œæ•´çš„å¼€æºé¡¹ç›®ï¼ŒåŒ…å«FayæŽ§åˆ¶å™¨åŠæ•°å­—äººæ¨¡åž‹ï¼Œå¯çµæ´»ç»„åˆå‡ºä¸åŒçš„åº”ç”¨åœºæ™¯ï¼šè™šæ‹Ÿä¸»æ’­ã€çŽ°åœºæŽ¨é”€è´§ã€å•†å“å¯¼è´­ã€è¯­éŸ³åŠ©ç†ã€è¿œç¨‹è¯­éŸ³åŠ©ç†ã€æ•°å­—äººäº’åŠ¨ã€æ•°å­—äººé¢è¯•å®˜åŠå¿ƒç†æµ‹è¯„ã€è´¾ç»´æ–¯ã€Herã€‚ å¼€æºé¡¹ç›®ï¼Œéžäº§å“è¯•ç”¨ï¼ï¼ï¼',
 'é—»è¾¾ï¼šä¸€ä¸ªLLMè°ƒç”¨å¹³å°ã€‚ä¸ºå°æ¨¡åž‹å¤–æŒ‚çŸ¥è¯†åº“æŸ¥æ‰¾å’Œè®¾è®¡è‡ªåŠ¨æ‰§è¡ŒåŠ¨ä½œï¼Œå®žçŽ°ä¸äºšäºŽäºŽå¤§æ¨¡åž‹çš„ç”Ÿæˆèƒ½åŠ›',
 'One-Click to deploy well-designed ChatGPT web UI on Vercel. ä¸€é”®æ‹¥æœ‰ä½ è‡ªå·±çš„ ChatGPT ç½‘é¡µæœåŠ¡ã€‚',
 'Wechat robot based on ChatGPT, which using OpenAI api and itchat library. ä½¿ç”¨ChatGPTæ­å»ºå¾®ä¿¡èŠå¤©æœºå™¨äººï¼ŒåŸºäºŽGPT3.5/4.0 APIå’Œitchatå®žçŽ°ï¼Œèƒ½å¤„ç†æ–‡æœ¬ã€è¯­éŸ³å’Œå›¾ç‰‡ï¼Œè®¿é—®æ“ä½œç³»ç»Ÿå’Œäº’è”ç½‘ã€‚',
 'a better universal ui system',
 'An Artificial Intelligence Automation Platform. AI Instruction management from various providers, has an adaptive memory, and a versatile plugin system with many commands including web browsing. Supports many AI providers and models and growing support every day.',
 'HuggingLLM, Hugging Future.',
 'bloop is a fast code search engine written in Rust.',
 'ðŸ¤– Assemble, configure, and deploy autonomous AI Agents in your browser.ä¸€é”®å…è´¹éƒ¨ç½²ä½ çš„ç§äººAutoGPT ç½‘é¡µåº”ç”¨']

In [69]:
language = []
languages = driver.find_elements(By.XPATH,'//span[@class="d-inline-block ml-0 mr-3"]')
for i in languages:
    language.append(i.text)
g = language[0:12]
g

['Python',
 'Python',
 'Python',
 'Python',
 'TypeScript',
 'Python',
 'Java',
 'Python',
 'Python',
 'Python',
 'Jupyter Notebook',
 'JavaScript']

In [72]:
h = language[12:]
h

['TypeScript',
 'Python',
 'Java',
 'JavaScript',
 'CSS',
 'TypeScript',
 'Python',
 'TypeScript',
 'Python',
 'Jupyter Notebook',
 'TypeScript',
 'TypeScript']

In [73]:
languages = g + [y] + h
languages

['Python',
 'Python',
 'Python',
 'Python',
 'TypeScript',
 'Python',
 'Java',
 'Python',
 'Python',
 'Python',
 'Jupyter Notebook',
 'JavaScript',
 '-',
 'TypeScript',
 'Python',
 'Java',
 'JavaScript',
 'CSS',
 'TypeScript',
 'Python',
 'TypeScript',
 'Python',
 'Jupyter Notebook',
 'TypeScript',
 'TypeScript']

In [115]:
df = pd.DataFrame({"Repository_title":title,"Repository_description":descriptions,"Language used":languages})
df

,Repository_title,Repository_description,Language used
0,suno-ai / bark,ðŸ”Š Text-Prompted Generative Audio Model,Python
1,OpenLMLab / MOSS,An open-source tool-augmented conversational l...,Python
2,xtekky / gpt4free,"decentralising the Ai Industry, free gpt-4/3.5...",Python
3,sanchit-gandhi / whisper-jax,-,Python
4,lvwzhen / law-cn-ai,âš–ï¸ AI æ³•å¾‹åŠ©æ‰‹,TypeScript
5,xtekky / chatgpt-clone,ChatGPT interface with better UI + running on ...,Python
6,macrozheng / mall,mallé¡¹ç›®æ˜¯ä¸€å¥—ç”µå•†ç³»ç»Ÿï¼ŒåŒ…æ‹¬å‰å°å•†åŸŽç³»ç»ŸåŠåŽå°ç®¡ç†ç³»ç»Ÿï¼ŒåŸºäºŽSpringBoot+MyB...,Java
7,jackfrued / Python-100-Days,Python - 100å¤©ä»Žæ–°æ‰‹åˆ°å¤§å¸ˆ,Python
8,kaqijiang / Auto-GPT-ZH,Auto-GPTä¸­æ–‡ç‰ˆæœ¬åŠçˆ±å¥½è€…ç»„ç»‡ åŒæ­¥æ›´æ–°åŽŸé¡¹ç›® AIé¢†åŸŸåˆ›ä¸š è‡ªåª’ä½“ç»„ç»‡ ç”¨AIå·¥ä½œå­¦...,Python
9,pengzhile / pandora,æ½˜å¤šæ‹‰ï¼Œä¸€ä¸ªä¸åªæ˜¯å‘½ä»¤è¡Œçš„ChatGPTã€‚,Python
10,geekyutao / Inpaint-Anything,Inpaint anything using Segment Anything and in...,Jupyter Notebook
11,saeedezzati / superpower-chatgpt,Superpower ChatGPT Chrome Extension,JavaScript
12,sindresorhus / awesome,ðŸ˜Ž Awesome lists about all kinds of interesting...,-
13,BabylonJS / Babylon.js,"Babylon.js is a powerful, beautiful, simple, a...",TypeScript
14,imClumsyPanda / langchain-ChatGLM,"langchain-ChatGLM, local knowledge based ChatG...",Python
15,dataease / dataease,äººäººå¯ç”¨çš„å¼€æºæ•°æ®å¯è§†åŒ–åˆ†æžå·¥å…·ã€‚,Java
16,TheRamU / Fay,Fayæ˜¯ä¸€ä¸ªå®Œæ•´çš„å¼€æºé¡¹ç›®ï¼ŒåŒ…å«FayæŽ§åˆ¶å™¨åŠæ•°å­—äººæ¨¡åž‹ï¼Œå¯çµæ´»ç»„åˆå‡ºä¸åŒçš„åº”ç”¨åœºæ™¯ï¼šè™šæ‹Ÿä¸»...,JavaScript
17,l15y / wenda,é—»è¾¾ï¼šä¸€ä¸ªLLMè°ƒç”¨å¹³å°ã€‚ä¸ºå°æ¨¡åž‹å¤–æŒ‚çŸ¥è¯†åº“æŸ¥æ‰¾å’Œè®¾è®¡è‡ªåŠ¨æ‰§è¡ŒåŠ¨ä½œï¼Œå®žçŽ°ä¸äºšäºŽäºŽå¤§æ¨¡åž‹çš„ç”Ÿæˆèƒ½åŠ›,CSS
18,Yidadaa / ChatGPT-Next-Web,One-Click to deploy well-designed ChatGPT web ...,TypeScript
19,zhayujie / chatgpt-on-wechat,"Wechat robot based on ChatGPT, which using Ope...",Python
20,tamagui / tamagui,a better universal ui system,TypeScript
21,Josh-XT / Agent-LLM,An Artificial Intelligence Automation Platform...,Python
22,datawhalechina / hugging-llm,"HuggingLLM, Hugging Future.",Jupyter Notebook
23,BloopAI / bloop,bloop is a fast code search engine written in ...,TypeScript
24,Dogtiti / AutoGPT-Next-Web,"ðŸ¤– Assemble, configure, and deploy autonomous A...",TypeScript

Question ) Scrape the details of Highest sellingnovels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [116]:
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

In [131]:
book = []
book_tag = driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]//td')
for i in book_tag:
    book.append(i.text)
Book = book[2::6]
Book

['Da Vinci Code,The',
 'Harry Potter and the Deathly Hallows',
 "Harry Potter and the Philosopher's Stone",
 'Harry Potter and the Order of the Phoenix',
 'Fifty Shades of Grey',
 'Harry Potter and the Goblet of Fire',
 'Harry Potter and the Chamber of Secrets',
 'Harry Potter and the Prisoner of Azkaban',
 'Angels and Demons',
 "Harry Potter and the Half-blood Prince:Children's Edition",
 'Fifty Shades Darker',
 'Twilight',
 'Girl with the Dragon Tattoo,The:Millennium Trilogy',
 'Fifty Shades Freed',
 'Lost Symbol,The',
 'New Moon',
 'Deception Point',
 'Eclipse',
 'Lovely Bones,The',
 'Curious Incident of the Dog in the Night-time,The',
 'Digital Fortress',
 'Short History of Nearly Everything,A',
 'Girl Who Played with Fire,The:Millennium Trilogy',
 'Breaking Dawn',
 'Very Hungry Caterpillar,The:The Very Hungry Caterpillar',
 'Gruffalo,The',
 "Jamie's 30-Minute Meals",
 'Kite Runner,The',
 'One Day',
 'Thousand Splendid Suns,A',
 "Girl Who Kicked the Hornets' Nest,The:Millennium Trilogy",
 "Time Traveler's Wife,The",
 'Atonement',
 "Bridget Jones's Diary:A Novel",
 'World According to Clarkson,The',
 "Captain Corelli's Mandolin",
 'Sound of Laughter,The',
 'Life of Pi',
 'Billy Connolly',
 'Child Called It,A',
 "Gruffalo's Child,The",
 "Angela's Ashes:A Memoir of a Childhood",
 'Birdsong',
 'Northern Lights:His Dark Materials S.',
 'Labyrinth',
 'Harry Potter and the Half-blood Prince',
 'Help,The',
 'Man and Boy',
 'Memoirs of a Geisha',
 "No.1 Ladies' Detective Agency,The:No.1 Ladies' Detective Agency S.",
 'Island,The',
 'PS, I Love You',
 'You are What You Eat:The Plan That Will Change Your Life',
 'Shadow of the Wind,The',
 'Tales of Beedle the Bard,The',
 'Broker,The',
 "Dr. Atkins' New Diet Revolution:The No-hunger, Luxurious Weight Loss P",
 'Subtle Knife,The:His Dark Materials S.',
 'Eats, Shoots and Leaves:The Zero Tolerance Approach to Punctuation',
 "Delia's How to Cook:(Bk.1)",
 'Chocolat',
 'Boy in the Striped Pyjamas,The',
 "My Sister's Keeper",
 'Amber Spyglass,The:His Dark Materials S.',
 'To Kill a Mockingbird',
 'Men are from Mars, Women are from Venus:A Practical Guide for Improvin',
 'Dear Fatty',
 'Short History of Tractors in Ukrainian,A',
 'Hannibal',
 'Lord of the Rings,The',
 'Stupid White Men:...and Other Sorry Excuses for the State of the Natio',
 'Interpretation of Murder,The',
 'Sharon Osbourne Extreme:My Autobiography',
 'Alchemist,The:A Fable About Following Your Dream',
 "At My Mother's Knee ...:and Other Low Joints",
 'Notes from a Small Island',
 'Return of the Naked Chef,The',
 'Bridget Jones: The Edge of Reason',
 "Jamie's Italy",
 'I Can Make You Thin',
 'Down Under',
 'Summons,The',
 'Small Island',
 'Nigella Express',
 'Brick Lane',
 "Memory Keeper's Daughter,The",
 'Room on the Broom',
 'About a Boy',
 'My Booky Wook',
 'God Delusion,The',
 '"Beano" Annual,The',
 'White Teeth',
 'House at Riverton,The',
 'Book Thief,The',
 'Nights of Rain and Stars',
 'Ghost,The',
 'Happy Days with the Naked Chef',
 'Hunger Games,The:Hunger Games Trilogy',
 "Lost Boy,The:A Foster Child's Search for the Love of a Family",
 "Jamie's Ministry of Food:Anyone Can Learn to Cook in 24 Hours"]

In [135]:
author = []
author_tag = driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]//td')
for i in author_tag:
    author.append(i.text)
Author = author[3::6]
Author

['Brown, Dan',
 'Rowling, J.K.',
 'Rowling, J.K.',
 'Rowling, J.K.',
 'James, E. L.',
 'Rowling, J.K.',
 'Rowling, J.K.',
 'Rowling, J.K.',
 'Brown, Dan',
 'Rowling, J.K.',
 'James, E. L.',
 'Meyer, Stephenie',
 'Larsson, Stieg',
 'James, E. L.',
 'Brown, Dan',
 'Meyer, Stephenie',
 'Brown, Dan',
 'Meyer, Stephenie',
 'Sebold, Alice',
 'Haddon, Mark',
 'Brown, Dan',
 'Bryson, Bill',
 'Larsson, Stieg',
 'Meyer, Stephenie',
 'Carle, Eric',
 'Donaldson, Julia',
 'Oliver, Jamie',
 'Hosseini, Khaled',
 'Nicholls, David',
 'Hosseini, Khaled',
 'Larsson, Stieg',
 'Niffenegger, Audrey',
 'McEwan, Ian',
 'Fielding, Helen',
 'Clarkson, Jeremy',
 'Bernieres, Louis de',
 'Kay, Peter',
 'Martel, Yann',
 'Stephenson, Pamela',
 'Pelzer, Dave',
 'Donaldson, Julia',
 'McCourt, Frank',
 'Faulks, Sebastian',
 'Pullman, Philip',
 'Mosse, Kate',
 'Rowling, J.K.',
 'Stockett, Kathryn',
 'Parsons, Tony',
 'Golden, Arthur',
 'McCall Smith, Alexander',
 'Hislop, Victoria',
 'Ahern, Cecelia',
 'McKeith, Gillian',
 'Zafon, Carlos Ruiz',
 'Rowling, J.K.',
 'Grisham, John',
 'Atkins, Robert C.',
 'Pullman, Philip',
 'Truss, Lynne',
 'Smith, Delia',
 'Harris, Joanne',
 'Boyne, John',
 'Picoult, Jodi',
 'Pullman, Philip',
 'Lee, Harper',
 'Gray, John',
 'French, Dawn',
 'Lewycka, Marina',
 'Harris, Thomas',
 'Tolkien, J. R. R.',
 'Moore, Michael',
 'Rubenfeld, Jed',
 'Osbourne, Sharon',
 'Coelho, Paulo',
 "O'Grady, Paul",
 'Bryson, Bill',
 'Oliver, Jamie',
 'Fielding, Helen',
 'Oliver, Jamie',
 'McKenna, Paul',
 'Bryson, Bill',
 'Grisham, John',
 'Levy, Andrea',
 'Lawson, Nigella',
 'Ali, Monica',
 'Edwards, Kim',
 'Donaldson, Julia',
 'Hornby, Nick',
 'Brand, Russell',
 'Dawkins, Richard',
 '0',
 'Smith, Zadie',
 'Morton, Kate',
 'Zusak, Markus',
 'Binchy, Maeve',
 'Harris, Robert',
 'Oliver, Jamie',
 'Collins, Suzanne',
 'Pelzer, Dave',
 'Oliver, Jamie']

In [138]:
sold = []
sold_tag = driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]//td')
for i in sold_tag:
    sold.append(i.text)
Sold = sold[4::6]
Sold

['5,094,805',
 '4,475,152',
 '4,200,654',
 '4,179,479',
 '3,758,936',
 '3,583,215',
 '3,484,047',
 '3,377,906',
 '3,193,946',
 '2,950,264',
 '2,479,784',
 '2,315,405',
 '2,233,570',
 '2,193,928',
 '2,183,031',
 '2,152,737',
 '2,062,145',
 '2,052,876',
 '2,005,598',
 '1,979,552',
 '1,928,900',
 '1,852,919',
 '1,814,784',
 '1,787,118',
 '1,783,535',
 '1,781,269',
 '1,743,266',
 '1,629,119',
 '1,616,068',
 '1,583,992',
 '1,555,135',
 '1,546,886',
 '1,539,428',
 '1,508,205',
 '1,489,403',
 '1,352,318',
 '1,310,207',
 '1,310,176',
 '1,231,957',
 '1,217,712',
 '1,208,711',
 '1,204,058',
 '1,184,967',
 '1,181,503',
 '1,181,093',
 '1,153,181',
 '1,132,336',
 '1,130,802',
 '1,126,337',
 '1,115,549',
 '1,108,328',
 '1,107,379',
 '1,104,403',
 '1,092,349',
 '1,090,847',
 '1,087,262',
 '1,054,196',
 '1,037,160',
 '1,023,688',
 '1,015,956',
 '1,009,873',
 '1,004,414',
 '1,003,780',
 '1,002,314',
 '998,213',
 '992,846',
 '986,753',
 '986,115',
 '970,509',
 '967,466',
 '963,353',
 '962,515',
 '959,496',
 '956,114',
 '945,640',
 '931,312',
 '925,425',
 '924,695',
 '906,968',
 '905,086',
 '890,847',
 '869,671',
 '869,659',
 '862,602',
 '856,540',
 '845,858',
 '842,535',
 '828,215',
 '820,563',
 '816,907',
 '816,585',
 '815,586',
 '814,370',
 '809,641',
 '808,900',
 '807,311',
 '794,201',
 '792,187',
 '791,507',
 '791,095']

In [141]:
publisher = []
publisher_tag = driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]//td')
for i in publisher_tag:
    publisher.append(i.text)
Publisher = publisher[5::6]
Publisher

['Transworld',
 'Bloomsbury',
 'Bloomsbury',
 'Bloomsbury',
 'Random House',
 'Bloomsbury',
 'Bloomsbury',
 'Bloomsbury',
 'Transworld',
 'Bloomsbury',
 'Random House',
 'Little, Brown Book',
 'Quercus',
 'Random House',
 'Transworld',
 'Little, Brown Book',
 'Transworld',
 'Little, Brown Book',
 'Pan Macmillan',
 'Random House',
 'Transworld',
 'Transworld',
 'Quercus',
 'Little, Brown Book',
 'Penguin',
 'Pan Macmillan',
 'Penguin',
 'Bloomsbury',
 'Hodder & Stoughton',
 'Bloomsbury',
 'Quercus',
 'Random House',
 'Random House',
 'Pan Macmillan',
 'Penguin',
 'Random House',
 'Random House',
 'Canongate',
 'HarperCollins',
 'Orion',
 'Pan Macmillan',
 'HarperCollins',
 'Random House',
 'Scholastic Ltd.',
 'Orion',
 'Bloomsbury',
 'Penguin',
 'HarperCollins',
 'Random House',
 'Little, Brown Book',
 'Headline',
 'HarperCollins',
 'Penguin',
 'Orion',
 'Bloomsbury',
 'Random House',
 'Random House',
 'Scholastic Ltd.',
 'Profile Books Group',
 'Random House',
 'Transworld',
 'Random House Childrens Books G',
 'Hodder & Stoughton',
 'Scholastic Ltd.',
 'Random House',
 'HarperCollins',
 'Random House',
 'Penguin',
 'Random House',
 'HarperCollins',
 'Penguin',
 'Headline',
 'Little, Brown Book',
 'HarperCollins',
 'Transworld',
 'Transworld',
 'Penguin',
 'Pan Macmillan',
 'Penguin',
 'Transworld',
 'Transworld',
 'Random House',
 'Headline',
 'Random House',
 'Transworld',
 'Penguin',
 'Pan Macmillan',
 'Penguin',
 'Hodder & Stoughton',
 'Transworld',
 'D.C. Thomson',
 'Penguin',
 'Pan Macmillan',
 'Transworld',
 'Orion',
 'Random House',
 'Penguin',
 'Scholastic Ltd.',
 'Orion',
 'Penguin']

In [144]:
genre = []
genre_tag = driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]//td')
for i in genre_tag:
    genre.append(i.text)
Genre = genre[6::6]
Genre

['Crime, Thriller & Adventure',
 "Children's Fiction",
 "Children's Fiction",
 "Children's Fiction",
 'Romance & Sagas',
 "Children's Fiction",
 "Children's Fiction",
 "Children's Fiction",
 'Crime, Thriller & Adventure',
 "Children's Fiction",
 'Romance & Sagas',
 'Young Adult Fiction',
 'Crime, Thriller & Adventure',
 'Romance & Sagas',
 'Crime, Thriller & Adventure',
 'Young Adult Fiction',
 'Crime, Thriller & Adventure',
 'Young Adult Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Crime, Thriller & Adventure',
 'Popular Science',
 'Crime, Thriller & Adventure',
 'Young Adult Fiction',
 'Picture Books',
 'Picture Books',
 'Food & Drink: General',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Crime, Thriller & Adventure',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Humour: Collections & General',
 'General & Literary Fiction',
 'Autobiography: General',
 'General & Literary Fiction',
 'Biography: The Arts',
 'Autobiography: General',
 'Picture Books',
 'Autobiography: General',
 'General & Literary Fiction',
 'Young Adult Fiction',
 'General & Literary Fiction',
 'Science Fiction & Fantasy',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Crime, Thriller & Adventure',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Fitness & Diet',
 'General & Literary Fiction',
 "Children's Fiction",
 'Crime, Thriller & Adventure',
 'Fitness & Diet',
 'Young Adult Fiction',
 'Usage & Writing Guides',
 'Food & Drink: General',
 'General & Literary Fiction',
 'Young Adult Fiction',
 'General & Literary Fiction',
 'Young Adult Fiction',
 'General & Literary Fiction',
 'Popular Culture & Media: General Interest',
 'Autobiography: The Arts',
 'General & Literary Fiction',
 'Crime, Thriller & Adventure',
 'Science Fiction & Fantasy',
 'Current Affairs & Issues',
 'Crime, Thriller & Adventure',
 'Autobiography: The Arts',
 'General & Literary Fiction',
 'Autobiography: The Arts',
 'Travel Writing',
 'Food & Drink: General',
 'General & Literary Fiction',
 'National & Regional Cuisine',
 'Fitness & Diet',
 'Travel Writing',
 'Crime, Thriller & Adventure',
 'General & Literary Fiction',
 'Food & Drink: General',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Picture Books',
 'General & Literary Fiction',
 'Autobiography: The Arts',
 'Popular Science',
 "Children's Annuals",
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Food & Drink: General',
 'Young Adult Fiction',
 'Biography: General',
 'Food & Drink: General']

In [146]:
df1 = pd.DataFrame({"Book_Name":Book,"Author_Name":Author,"Volumes_Sold":Sold,"Publisher":Publisher,"Genre":Genre})
df1

,Book_Name,Author_Name,Volumes_Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

Question ) Scrape the details of Data science recruiters Url = https://www.naukri.com/hr-recruiters-consultants
You have to find the following details: 
A) Name
B) Designation
C)Company 
D)Skills they hire for 
E) Location
Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and 
click on search. All this should be done through code

In [154]:
driver.get('https://www.naukri.com/hr-recruiters-consultants')

In [155]:
search = driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/div/div[1]/div[1]/div[2]/input')
search.send_keys('Data Science')

In [156]:
icon = driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/button')
icon.click()

In [157]:
name = []
name_tag = driver.find_elements(By.XPATH,'//span[@class="fl ellipsis"]')
for i in name_tag:
    name.append(i.text)
name

['Aakash Harit',
 'shravan Kumar Gaddam',
 'MARSIAN Technologies LLP',
 'Anik Agrawal',
 'subhas patel',
 'Abhishek - Only Analytics Hiring - India and',
 'Institute for Financial Management and Resear',
 'Balu Ramesh',
 'Asif Lucknowi',
 'InstaFinancials',
 'Kalpana Dumpala',
 'Mubarak',
 'Kushal Rastogi',
 'Priyanka Akiri',
 'Kapil Devang',
 'Mahesh Babu Channa',
 'Vaishnavi Kudalkar',
 'Sakshi Chhikara',
 'Ruchi Dhote',
 'Manisha Yadav',
 'Riya Rajesh',
 'Rashmi Bhattacharjee',
 'Faizan Kareem',
 'Rithika dadwal',
 'Sandhya Khandagale',
 'Shaun Rao',
 'Deeparchi Sharma',
 'Azahar Shaikh',
 'Manas',
 'kumar',
 'Sunil Vedula',
 'Rajat Kumar',
 'Dhruv Dev Dubey',
 'Avnish Mishra',
 'Jayanth N',
 'Avodha',
 'Priya Khare',
 'Amit Sharma',
 'Kanan',
 'Shashikant Chaudhary',
 'Brad',
 'Rutuja Pawar',
 'Madhusudhan Sridhar',
 'Ankit Sinha',
 'Gaurav Chouhan',
 'Rashi Kacker',
 'Ashwini',
 'Balaji Kolli',
 'Rajani Nagaraj',
 'ROHIT Kumar']

In [158]:
designation = []
designation_tag = driver.find_elements(By.XPATH,'//span[@class="ellipsis clr"]')
for i in designation_tag:
    designation.append(i.text)
designation

['HR Manager',
 'Company Recruiter',
 'Company HR',
 'Company Recruiter',
 'Founder CEO',
 'Recruitment Lead Consultant',
 'Programme Manager',
 'HR Administrator',
 'Director',
 'Human Resource',
 'Executive Hiring',
 'Company HR',
 'Company HR',
 'HR Manager',
 'HR Manager',
 'HR Team Lead',
 'HR Executive',
 'Assistant Manager HR',
 'Senior Executive Talent Acquisition',
 'HR Executive',
 'Manager Talent Acquisition',
 'HR Head',
 'HR MANAGER',
 'HR Recruiter',
 'HR Recruiter',
 'Manager Human Resources',
 'Company Recruiter',
 'Company Recruiter',
 'Lead Talent acquisition',
 'Proprietor',
 'CEO',
 'Founder CEO',
 'Company Recruitment Head',
 'Senior Technical &amp; Corporate Recruiter',
 'Project Manager',
 'Business Development Associate',
 'Senior Manager',
 'Consultant',
 'senior technology instructor',
 'HR Recruiter/HR Excutive',
 'Manager, Technical Recruiting',
 'Technical Recruiter',
 'Erp Implementer',
 'Head Analytics',
 'Chief Technical Officer',
 'Sr Product Manager',
 'Director Global Delivery',
 'Co Founder',
 'HR Manager',
 'Architect']

In [168]:
skills = []
skills_tag = driver.find_elements(By.XPATH,'//div[@class="hireSec highlightable"]')
for i in skills_tag:
    skills.append(i.text)
skills

['Classic ASP Developer, Internet Marketing Professional, Data Science SME, Content Writers, SEO Professional, Revenue Professional',
 '.Net, Java, Data Science, Linux Administration, Sql Server Development, Winforms, Wcf Services, Wpf, Telecom Engineering, Technical Management, Software',
 'Data Science, Artificial Intelligence, Machine Learning, Business Analytics, Deep Learning, statistics, Data Analytics, Data Analysis, support vector machine',
 'Mean Stack, javascript, angularjs, mongodb, Web Services, rest, express, Node.js, Big Data, iot, Data Science, Cloud Computing, saas, Aws',
 'Hadoop, Spark, Digital Strategy, Data Architecture, Command Center, Cdp, Dmp, Kafka, Data Science, Data Analysis, Big Data Analytics, Real Time Analysis, SQL',
 'Analytics, Business Intelligence, Business Analytics, Predictive Modeling, Predictive Analytics, Data Science, Data Analysis, Data Analytics, Big Data, Big',
 'Data Science',
 'Machine Learning, algorithms, Go Getter, Computer Science, spark, Big Data, hdfs, sql, cassandra, hadoop, python, scala, java, Data Science, Front End',
 'Technical Training, Software Development, Presentation Skills, B.tech, M.tech, B.e., mca, msc, Computer Science, freshers, jobs in indore, Data Science, itil',
 'Software Development, It Sales, Account Management, Data Analysis, Customer Service, Sr, Software Engineering, Mvc, Ajax, Asp.net, Html, C#, Javascript',
 'Qa, Ui/ux, Java Developer, Java Architect, C++/qt, Php, Lamp, Api, J2ee, Java, Soa, Esb, Middleware, Bigdata Achitect, Hadoop Architect, Deep',
 'Business Intelligence, Data Warehousing, Data Science, Business Analytics, Customer Support, Business Reporting, Bi',
 'Office Administration, Hr Administration, telecalling, client relationship management, Client Acquisition, Sales, Reception, HR, Recruitment, Onboarding, Human',
 'Oracle Dba, Data Science, Data Warehousing, ETL, Jupyter, Numpy, Data Transformation, Snowflake, Teradata, Python, Data Manipulation, Relational Databases',
 'Big Data, Hadoop, Data Analytics, Data Science',
 'Social Media, digital media maketing, seo, smm, smo, sem, Content Wirting, social media marketing, social media manager, digital media marketing manager',
 'Data Science, Python, Data Analytics',
 'React.js, Data Science, Java, Front End, Business Analytics, Backend, Tableau, Python, Qa Testing, Automation Testing',
 'Qlikview, Qlik Sense, Microsoft Azure, Power Bi, Data Science, Machine Learning',
 'Telecalling, Client Interaction, Marketing, Research, Web Development, Social Media Marketing, Data Entry Operation, Excel, Ms Office, Invoicing',
 'Data Science',
 'Corporate Sales, Software Development, Software Sales, Marketing, Creative Designing, Corporate Planning, Senior Management, Crm, Client Relationship',
 'Data Analytics, Data Science, Machine Learning, Deep Learning, Nlp, Data Mining, Python, R, Database Administration, Text Mining',
 'Data Science, Machine Learning, Python, R, Deep Learning, Big Data, Hadoop',
 'Big Data, Data Science, Artificial Intelligence, Hadoop, Ui Development, Php, Freelancing, .Net, Software Testing, Sap, Leadership Hiring',
 'Java, Net, Angularjs, Hr, Infrastructure, Management, Project Management, Business Analysis, Data Science, Information Technology, Technology',
 'Research, Digital Marketing, Analytics, Software Development, Data Science, Consulting',
 'Data Science, Artificial Intelligence, Machine Learning, Data Analytics',
 'Software Architecture, Vp Engineering, Product Management, analytics, Data Science, Node.js, Principal Engineer, Big Data, python, angularjs, React.js',
 'Data Science, Hadoop, Rpas, Devops, Python, Aws, Teaching, Big Data',
 'Signal Processing, Machine Learning, Neural Networks, Data Science, Predictive Analytics, Time Series Analysis, Data Visualization, Technical Leadership, Data',
 'Web Technologies, Project Management, Software Architecture, Data Science, Object Oriented Programming, Computer Science, Electrical Engineering, Architecture',
 'Server Administartion, Verilog, Vhdl, Digital Marketing, Market Research, Property Research, Legal, It And Non It Recruitment, Logistics, Supply Chain, Bfsi',
 'Data Science, Machine Learning, Deep Learning, Accounting, Statistics',
 'Data Analytics, Managed Services, Team Leading, python, Machine Learning, Google Analytics, Dmp, Aws, Campaign Analytics, Digital Campaigns, Audience',
 'Ethical Hacking, Security Operations Center, SOC, Managed Services, Data Science, Machine Learning, Artificial Intelligence, Operations Research, Education',
 'Data Science, Artificial Intelligence, analytics, Business Intelligence, python, tableau, Power Bi, qlikview, sql, Data Warehousing, Data Visualization',
 'Machine Learning, Artificial Intelligence, Data Science, Software Engineering, Software Development, Graduate Engineer Trainee, Fresher, Data Analytics, Java',
 'C, C++, Artificial Intelligence, Python, Php, Web Development, Matlab, Data Science, Augmented Reality, C C++',
 'Relationship Management, Retail Sales, Private Banking, Mutual Funds, NISM, Equity, Finance, Financial Products, Financial Services, Verbal, Written',
 'Data Science, Software Engineering',
 'Data Science, Big Data Analytics, Digital Marketing, Content Writing, Ui Development, Database Development, Qa Automation, Python, Project Management',
 'Data Science, Recruitment, Salary',
 'B.Tech, Tableau, Statistics, R, Analytics, Time Series, Data Science, Business Solutions, SQL, Technical Skills, SSAS, SQL Server, Analysis Services, Qlikview',
 'Software Development, Business Intelligence, Big Data Analytics, Database Administration, Data Science, Microsoft Azure, Spark, Cassandra, Object Oriented',
 'Data Science, Node.js, Angularjs',
 'Data Science, Media Marketing, Resource Planning, Managed Services, Display Advertising, Machine Learning, Python, Etl, Sql',
 'Data Analysis, Learning, Data Science, Computer Science, Communication Skills',
 'Java, Hadoop, R, Machine Learning, Spark, Flume, Hdfs, Data Mining, Sas, Big, Data Science, Cloudera, Impala, Bigdata',
 'Software Development, Core Java, Unit Testing, Customer Experience, Problem Solving, Communication Skills, Mysql, Data Science, Sales Management, Analytics']

In [175]:
location = []
location_tag = driver.find_elements(By.XPATH,'//small[@class="ellipsis"]')
for i in location_tag:
    location.append(i.text)
x = location[:30]
x

['Delhi',
 'Hyderabad / Secunderabad',
 'Pune',
 'Ahmedabad',
 'UK - (london)',
 'Vadodara / Baroda',
 'Chennai',
 'Trivandrum',
 'Indore',
 'Bengaluru / Bangalore',
 'Hyderabad / Secunderabad',
 'Bengaluru / Bangalore',
 'Mumbai',
 'Hyderabad',
 'Bhopal',
 'Hyderabad / Secunderabad',
 'Mumbai',
 'Chandigarh',
 'Pune',
 'Navi Mumbai',
 'Cochin',
 'Delhi',
 'Hyderabad / Secunderabad',
 'Pune',
 'Pune',
 'Pune',
 'Gurgaon',
 'Pune',
 'Bengaluru / Bangalore',
 'Bengaluru / Bangalore']

In [176]:
y = '-'
print(y)

-

In [179]:
z = location[30:]
z

['Delhi',
 'Bengaluru / Bangalore',
 'Noida',
 'Mysoru / Mysore',
 'Hyderabad / Secunderabad',
 'Bengaluru / Bangalore',
 'New Delhi',
 'Chennai',
 'Aligarh',
 'Salt Lake City',
 'Pune',
 'Bengaluru / Bangalore',
 'Mumbai',
 'Indore',
 'Bengaluru / Bangalore',
 'MYSORE',
 'Hyderabad / Secunderabad',
 'Bengaluru / Bangalore',
 'Mumbai']

In [180]:
locations = x + [y] + z
locations

['Delhi',
 'Hyderabad / Secunderabad',
 'Pune',
 'Ahmedabad',
 'UK - (london)',
 'Vadodara / Baroda',
 'Chennai',
 'Trivandrum',
 'Indore',
 'Bengaluru / Bangalore',
 'Hyderabad / Secunderabad',
 'Bengaluru / Bangalore',
 'Mumbai',
 'Hyderabad',
 'Bhopal',
 'Hyderabad / Secunderabad',
 'Mumbai',
 'Chandigarh',
 'Pune',
 'Navi Mumbai',
 'Cochin',
 'Delhi',
 'Hyderabad / Secunderabad',
 'Pune',
 'Pune',
 'Pune',
 'Gurgaon',
 'Pune',
 'Bengaluru / Bangalore',
 'Bengaluru / Bangalore',
 '-',
 'Delhi',
 'Bengaluru / Bangalore',
 'Noida',
 'Mysoru / Mysore',
 'Hyderabad / Secunderabad',
 'Bengaluru / Bangalore',
 'New Delhi',
 'Chennai',
 'Aligarh',
 'Salt Lake City',
 'Pune',
 'Bengaluru / Bangalore',
 'Mumbai',
 'Indore',
 'Bengaluru / Bangalore',
 'MYSORE',
 'Hyderabad / Secunderabad',
 'Bengaluru / Bangalore',
 'Mumbai']

In [171]:
company = []
company_tag = driver.find_elements(By.XPATH,'//p[@class="highlightable"]')
for i in company_tag:
    company.append(i.text.split('\n')[2])
company

['Data Science Network',
 'Shore Infotech India Pvt. Ltd',
 'MARSIAN Technologies LLP',
 'Enerlytics Software Solutions Pvt Ltd',
 'LibraryXProject',
 'Apidel Technologies Division of Transpower',
 'IFMR',
 'Techvantage Systems Pvt Ltd',
 'Weupskill- Live Wire India',
 'CBL Data Science Private Limited',
 'Innominds Software',
 'MoneyTap',
 'QuantMagnum Technologies Pvt. Ltd.',
 'Infinitive Software Solutions',
 'BISP Solutions',
 'SocialPrachar.com',
 'Codeachive learning',
 'BIZ INFOTECNO PRIVATE LIMITED',
 'Bristlecone India Ltd',
 'Easi Tax',
 'Novelworx Digital Solutions',
 'AXESTRACK SOFTWARE SOLUTIONS PRIVATE...',
 'FirstTech Consaltants Pvt.Ltd',
 'Affine Analytics',
 'Compumatrice Multimedia Pvt Ltd',
 'Exela Technologies',
 'ZIGRAM',
 'NEAL ANALYTICS SERVICES PVT LTD',
 'Autumn Leaf Consulting Services Private...',
 'trainin',
 'Nanoprecise Sci Corp',
 'R.S Consultancy &amp; Services',
 'NETAPS FOUNDATION',
 'RMS Risk Management Solutions',
 'Dollarbird Information Services Pvt, Ltd',
 'Nikitha Palaparthi',
 'Independent Consultant',
 'ASCO consulting',
 'NY INST',
 '3D India Staffing Research &amp; Consulting...',
 'O.C. Tanner',
 'Demand Matrix',
 'MADHUSUDHAN SRIDHAR',
 'Suntech Global',
 'Strategic Consulting Lab',
 'Impel Labs Pvt. Ltd.',
 'MRP Advisers',
 'Saras Solutions India Pvt Ltd',
 'WildJasmine',
 'LNT Private Limited']

In [174]:
name[30]

'Sunil Vedula'

In [181]:
df = pd.DataFrame({"Name":name,"Designation":designation,"Company":company,"Skills_They_Hire_For":skills,"Location":locations})
df

,Name,Designation,Company,Skills_They_Hire_For,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
8,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
10,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
11,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
12,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
13,Priyanka Akiri,HR Manager,Infinitive Software Solutions,"Oracle Dba, Data Science, Data Warehousing, ET...",Hyderabad
14,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
15,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
16,Vaishnavi Kudalkar,HR Executive,Codeachive learning,"Data Science, Python, Data Analytics",Mumbai
17,Sakshi Chhikara,Assistant Manager HR,BIZ INFOTECNO PRIVATE LIMITED,"React.js, Data Science, Java, Front End, Busin...",Chandigarh
18,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune
19,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
20,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
21,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
22,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
23,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
24,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
25,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
26,Deeparchi Sharma,Company Recruiter,ZIGRAM,"Research, Digital Marketing, Analytics, Softwa...",Gurgaon
27,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
28,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
29,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
30,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",-
31,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Delhi
32,Dhruv Dev Dubey,Company Recruitment Head,NETAPS FOUNDATION,"Server Administartion, Verilog, Vhdl, Digital ...",Bengaluru / Bangalore
33,Avnish Mishra,Senior Technical &amp; Corporate Recruiter,RMS Risk Management Solutions,"Data Science, Machine Learning, Deep Learning,...",Noida
34,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Mysoru / Mysore
35,Avodha,Business Development Associate,Nikitha Palaparthi,"Ethical Hacking, Security Operations Center, S...",Hyderabad / Secunderabad
36,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti...",Bengaluru / Bangalore
37,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",New Delhi
38,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Chennai
39,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Aligarh
40,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Salt Lake City
41,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Pune
42,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Bengaluru / Bangalore
43,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Mumbai
44,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Indore
45,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",Bengaluru / Bangalore
46,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",MYSORE
47,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Hyderabad / Secunderabad
48,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Bengaluru / Bangalore
49,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Mumbai